{% extends 'template.html' %}
{% block head %}
    Create New Ticket
{% endblock %}

{% block body %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-register" style="color:white">
            {{ form.hidden_tag() }}
            <br>
            <h1 class="h3 mb-3 font-weight-normal">
                Add Ticket
            </h1>
            <br>
            {{ form.subject.label() }}
            {{ form.subject(class="form-control", placeholder="Subject") }}
            <br>
            {{ form.category.label() }}
            {{ form.category(placeholder="Category") }}
            <br><br>
            {{ form.submit(class="btn btn-lg btn-primary") }}
        </form>
    </div>
</body>
{% endblock %}