{% extends "base.html" %}

{% block content %}
{% for error in form.password.errors %}
   <div class="alert alert-danger" role="alert">
      {{ error }}
   </div>
{% endfor %}
{% for error in form.email.errors %}
   <div class="alert alert-danger" role="alert">
      {{ error }}
   </div>
{% endfor %}
{% for error in form.username.errors %}
   <div class="alert alert-danger" role="alert">
      {{ error }}
   </div>
{% endfor %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-danger" role="alert">
         {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
  <div class="d-flex align-items-center justify-items-center">
    <div class="container w-50 p-3 my-3 bg-dark text-white border border-dark rounded">
    <h1 class="p-4 text-center">Register</h1>
    <div class="d-flex p-2 justify-content-center">  
      <form action="" method="POST">
        <div class="form-group">
          {{ form.hidden_tag() }}
        </div>
        <div class="form-group">  
          <label>Email</label>
          {{form.email(class="form-control", placeholder="Enter email") }} 
        </div>
        <div class="form-group">
          <label>Username</label>
          {{form.username(class="form-control", placeholder="Enter username")}}
        </div>
        <div class="form-group">
          <label>Password</label>
          {{ form.password(class="form-control", placeholder="Enter password") }}
        </div>
        <div class="form-group">
         <label>Role</label>
         {{ form.role(class="form-control", placeholder="Select Role") }}
       </div>
      </div>
      <div class="text-center">
        <button class="btn btn-light">SIGNUP</button>
      </div>
    </form>
    <div>
      <p class="mb-0 pt-3 text-center pt-5">Already have an account? <a href="/login" class="text-white-50 fw-bold">Login</a></p>
    </div>
  </div>
{% endblock %}
